.box{
    margin: 0px auto;
    padding: 10px;
    width: 64.5%;
    background-color: #0082ff;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.box > div{
    background-color: white;
    padding: 15px 50px;
    margin: 10px 0px;
    overflow: hidden;
}

form > h2{
    margin: 0px;
}

form > h2 > input{
    float: right;
    padding: 10px;
}

.settings > p{
    padding: 10px 20px;
    margin: 0px;
}

.box a{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover {
	color: white!important;
}