h1 {
	text-align: center;
}

.previous {
	background-image: url(../img/previous.png);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 50px;
    min-height: 63px;
    width: 8%;
    cursor: pointer;
    float: left;
}

.next {
    background-image: url(../img/next.png);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 50px;
    min-height: 63px;
    width: 8%;
	cursor: pointer;
    float: right;
}

.translation {
    float: left;
    width: 84%;
}

.words {
	text-align: center;
	padding: 0px 50px;
}

.words > div {
    overflow: hidden;
    padding: 25px 0px;
}

.words > div:nth-child(even) > div{
	padding: 20px 28%;
}

#english {
	padding: 20px 0px!important;
	font-size: 24px;
	text-indent: 0px!important;
	text-align: center!important;
	text-transform: none!important;
	visibility: hidden;
}

#polish {
	padding: 20px 0px!important;
	font-size: 24px;
	text-indent: 0px!important;
	text-align: center!important;
	text-transform: none!important;
}