.monophtongs{
    display: block;
}

/*
    wielkowść ekrenu
*/

@media (max-width: 991px) {
    .diphtongs_and_triphtongs{
        display: none;
    }
    .plosives{
        display: none;
    }
    .fricatives{
        display: none;
    }
    .liquids_and_veral_nasal{
        display: none;
    }
}

@media (min-width: 992px) {
    .diphtongs_and_triphtongs{
        display: block;
    }
    .plosives{
        display: block;
    }
    .fricatives{
        display: block;
    }
    .liquids_and_veral_nasal{
        display: block;
    }
}