.box{
    margin: 0px auto;
    padding: 10px;
    width: 64.5%;
    background-color: #0082ff;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.box > div{
    background-color: white;
    padding: 15px 50px;
    margin: 10px 0px;
    overflow: hidden;
}

form > h2{
    margin: 0px;
}

form > h2 > input{
    float: right;
    padding: 10px;
}

.settings > p{
    padding: 10px 20px;
    margin: 0px;
}

.box a{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover {
	color: white!important;
}

p > span{
    color: #0082ff;
    cursor: pointer;
}

p > span:hover{
    text-decoration: underline;
}

input[type='button']{
    background-image: url("../img/ustawienia.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 4px;
    padding: 0px;
    float: right;
    border: 0px;
    width: 20px;
    height: 20px;
}

h2 > input[type='button']{
    margin-top: 11px;
}

.settings > p > form, .settings > h2 > form{
    border: 1px solid black;
    display: none;
    padding: 20px 10px;
}