/*
.form{
    min-height: 500px;
    margin: 100px auto;
    background-color: white;
    box-shadow: -10px 0px 28px 0px rgba(0,0,0,0.4);
    border-radius: 30px /30px;
}

form{
    padding-top: 15px;
    margin: 0, auto;
}

form p{
    margin-top: 10px;
    margin-bottom: 5px;
}

form > p > span{
    width: 50%;
    float: left;
}

form > p > span > input{
    width: 90%!important;
}

.inputText{
    width: 90%;
    margin: 0, 10px;
}

.inputTextBuild{
    width: 40%;
    margin: 0, 10px;
}

button{
    float: right;
    margin-top: 10px;
}
*/
.inputCheckBox{
    width: auto!important;
    margin: 0px 10px!important;
}
label{
    width: 60%;
}
